@use 'variables.scss';

@mixin title-text {
    font-family: variables.$title-text-font;
    font-weight: 700;
    color: variables.$title-text-color;
    background-color: inherit;
}

@mixin text {
    font-family: variables.$text-font;
    font-weight: 400;
    color: variables.$text-color;
    background-color: inherit;
}

@mixin about-text {
    font-family: variables.$title-text-font;
    font-weight: 400;
    color: variables.$title-text-color;
    background-color: inherit;
}

@mixin border {
    border: 1px solid variables.$border-color;
    border-radius: 12px;
}

@mixin row-by-row-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin column-display {
    display: flex;
    flex-direction: column;
}

@mixin primary-button {
    @include title-text;
    background-color: variables.$primary-button-color;
    color: variables.$white-color;
    @include border;
}

@mixin secondary-button {
    @include title-text;
    background-color: variables.$secondary-button-color;
    color: variables.$white-color;
    @include border;
}

@mixin shadow {
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}
