@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

$border-color: #dad7cd;
$block-background-color: #f2e8cf;
$background-color: #f9f8f4;

$primary-button-color: #ff8552;
$primary-button-hover-color: #e06a3c;

$secondary-button-color: #6c9a8b;
$secondary-button-hover-color: #52796f;

$title-text-color: #2e2e2e;
$text-color: #505050;
$input-field-text-color: #6b6b6b;
$white-color: #ffffff;
$error-text-color: #e06a3c;

$title-text-font: 'Nunito';
$text-font: 'Roboto';
