.feed-page {
    margin-left: 60px;
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.feed-layout {
    display: flex;
    gap: 30px;
    align-self: flex-start;
}
