@import '/src/app/styles/variables.scss';
@import '/src/app/styles/mixins.scss';

* {
    margin: 0;
    padding: 0;
    background-color: $background-color;
    @include text
}

.button {
    @include primary-button;
}

.button:hover {
    background-color: $primary-button-hover-color;
    cursor: pointer;
}

.main {
    width: 60dvw;
    margin: auto;
    margin-top: 57px;
}
