@import '/src/app/styles/variables.scss';
@import '/src/app/styles/mixins.scss';

* {
    margin: 0;
    padding: 0;
}

.button {
    @include primary-button;
}

.button:hover {
    background-color: $primary-button-hover-color;
    cursor: pointer;
}

.main {
    margin-left: calc(15.6dvw + 30px);
    padding-top: 57px;
    min-height: calc(100dvh - 57px);
    display: flex;
    z-index: 0;
}

.error {
    @include text;
    color: $error-text-color;
    font-size: 0.75rem;
    margin-top: 1px;
}

.form-page-title {
    z-index: 0;
    font-family: $title-text-font;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
