@import '/src/app/styles/variables.scss';
@import '/src/app/styles/mixins.scss';

* {
    margin: 0;
    padding: 0;
    background-color: $background-color;
}

.button {
    @include primary-button;
}

.button:hover {
    background-color: $primary-button-hover-color;
    cursor: pointer;
}

.main {
    margin-left: calc(15.6dvw + 30px);
    padding-top: 57px;
    min-height: calc(100dvh - 57px);
    display: flex;
}
