@import '/src/app/styles/mixins.scss';
@import '/src/app/styles/variables.scss';

.search-field {
    @include border;
    background-color: $white-color;
    padding: 8px 10px;
    max-width: 718px;
    width: 100%;
    margin: auto;
    margin: 8px 0;
    height: 24px;
}
