@import '/src/app/styles/variables.scss';
@import '/src/app/styles/mixins.scss';

.publication-show-block {
    position: relative;
    @include row-by-row-display;
    gap: 5px;
    max-width: 38.5dvw;
    width: 100%;
    box-sizing: border-box;
    align-self: flex-start;
    @include border;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    margin-left: 260px;
    align-items: start;
    background-color: $post-background-color;
    z-index: 0;
}

.user-info-block {
    display: flex;
    align-items: center;
    gap: 10px;
}

.back-button {
    position: absolute;
    left: -2.5rem;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: $primary-button-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-button:hover {
    cursor: pointer;
    background-color: $primary-button-hover-color;
}

.back-icon {
    background-color: inherit;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.show-text {
    @include text;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    background-color: inherit;
    z-index: 2;
    width: 100%;
}
